@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --text-color:white;
  --primary-color: #FFC0CB; 
  --accent-color: #B76E79;  
  --neutral-bg: #F7F1E3;    
  --secondary-color: #D1D1D1; 
  --nav-height: 80px;
}
section {
  scroll-margin-top: var(--nav-height);
  display: block;
}
html, body, main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  box-sizing: border-box; 
  font-family: 'Roboto', sans-serif;
  background-color: var(--neutral-bg);
}

footer {
  background-color: var(--neutral-bg);
  padding: 1.25rem;
  text-align: center;
  margin-top: 1rem; 
}

/*Navbar */
nav {
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%;
  background-color: var(--neutral-bg);
  padding: 1rem 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items:center; 
 justify-content: space-between; 
}

nav h1 {
  color: var(--accent-color); 
  font-weight: 700; 
  font-size: 24px;
  margin-left: 2rem; 
}

nav ul {
  display: flex;
  gap: 1.2rem; 
  list-style: none; 
  padding-right: 2rem; 
  margin: 0;
}


nav ul li {
  font-family: 'Roboto', sans-serif; 
  font-weight: 700; 
}

nav ul li a {
  color: var(--accent-color); 
  text-decoration: none; 
}

nav ul li a:hover {
  color: #A05252; 
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  background: none;
  border: 0;
  cursor: pointer;
  display: none; 
}

/* Welcome Hero Section */
.welcome-hero {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/IMG_7621.jpg) no-repeat center center/cover;
  background-size: cover;
  height: 100vh;
  padding: 5%; 
  margin: 0; 
  width: 100%; 
  box-sizing: border-box; 
  position: relative;
}
/* Arrow styling for the welcome-hero section with bounce animation */
#bounce-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem; 
  color: var(--accent-color); 
  cursor: pointer;
  animation: bounce 2s infinite;
}

/* Keyframes for bounce animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
}

.welcome-hero:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 41, 104, 0.65);
}

.header-text {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px; 
  color:var(--text-color); 
  z-index: 1;
}

.header-text p {
  font-size: 28px; 
  font-weight: 300;
  margin-bottom: 20px; 
  color:var(--text-color); 
}

 .header-text h2 {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 0;
  color:var(--text-color); 
}
 /*Resume Button */
.header-text a {
  background-color: var(--accent-color); 
  display: inline-block;
  color: white;
  font-size: 18px;
  padding: 12px 24px; 
  width: fit-content; 
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  white-space: nowrap; 
  z-index: 1;
}

.header-text a:hover {
  background-color: #A05252; 
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* About Me Section */
.more-about {
  padding: 2rem 1rem; 
  text-align: center;
  margin: 0; 
  width: 100%; 
  box-sizing: border-box; 
}
.more-about h2 {
  color: var(--accent-color);
  margin-bottom: var(--bottom-margin);
}

.more-about p {
  line-height: var(--line-height);
  color: var(--accent-color); 
}

/* Skills Section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  color: var(--accent-color);
}

.skills-wrapper img {
  padding: 1.25rem;
}
#skills {
  scroll-margin-top: calc(var(--nav-height) + 25px); 
}
.icon {
  width: 11.875rem;
  height: 11.25rem;
}

/* Projects Section */
.projects {
  background-color: var(--neutral-bg);
  padding: 32px 0;
  margin-top: 2rem;
  text-align: center;
  color: var(--accent-color);
}

.projects-container {
  display: flex;
  justify-content: center;
}

.project-container {
  width: 21.875rem;
  padding: 1rem;
  text-align: center;
  color: var(--accent-color);
  list-style: none;

}

.project-pic {
  width: 65%;
  height: 60%;
}

/* Project Links Styling */
.project-link {
  font-family: 'Roboto', sans-serif; 
  font-weight: 700;
  color: var(--accent-color); 
  text-decoration: underline; 
  margin-right: 1.5rem; 
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #A05252; 
}

.contact {
  margin-top: 4rem; 
  padding-top: 2rem;
}

/* Contact Form Container with White Box and Outline */
.contact-form-container {
  max-width: 40.75rem;
  background-color: var(--accent-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: var(--primary-color);
  margin: 0px auto 2rem;
  padding: 2rem;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
}
.input-field {
  width: calc(100% - 20px); 
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 2px solid var(--primary-color); 
  font-size: 0.875rem;
  background-color: rgba(255, 192, 203, 0.2); 
}
.input-field::placeholder {
  color: #FFEBF0;  
}

.input-field:focus {
  border-color: var(--primary-color); 
  outline: none; 
  color: #FFEBF0;
}

/* Remove the black border from the message box */
textarea.input-field {
  border: 2px solid var(--primary-color);  
}

.submit-btn {
  width: 100%; 
  margin-top: 10px;
  padding: 12px;
  background-color: var(--primary-color); 
  border: 2px solid var(--accent-color); 
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  color: var(--accent-color);
  transition: background-color 0.3s, color 0.3s;
}

.submit-btn:hover {
  background-color: #FFA6B8; 
  color: white; 
}
/* Social icons in the footer */
footer .socials {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.socicon {
  width: 2rem;
  height: 2rem;
  margin: 0 10px;
}

/* Responsive media queries */
@media screen and (max-width: 768px) {
  .header-text {
    gap: 15px;
    padding-left: 5%;
  }

  .header-text h2 {
    font-size: 40px;
  }

  .header-text p {
    font-size: 24px;
  }
}

@media screen and (max-width: 420px) {
  .welcome-hero {
    flex-direction: column;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}
